01_Basic_Data_Analysis_and_Visualization.ipynb filter=strip-notebook-output
02_Science_Data_Formats_and_Advanced_Plotting.ipynb filter=strip-notebook-output
03_Remote_Datasets_and_Exporting.ipynb filter=strip-notebook-output